<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Catamere: Dynamic Generator</title>
</head>

<body style="background:#169c9d">
    
    <form id="static-form">
        <h2>Dynamic Generator</h2>
        <button id="generate" type="button">Generate!</button>
        <button id="home" type="button">Back</button>
    </form>

    <div id="output"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#generate").on("click",function(){
                $.ajax({
                    type : "POST",
                    url : "/project-catamere/dynamic-gen",
                    success: function(response) {
                        $("#output").text(response.output).show();
                    }
                });
            });
            $("#home").click(function(){
                $.ajax({
                    type : "POST",
                    url: "/project-catamere/static-gen",
                    success : function() {
                        window.location.href = "/project-catamere"
                    }
                })
            });
        });
    </script>

</body>
</html>
