<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Project Catamere</title>
    </head>
    <body style="background:#169c9d">
        <h1>Project Catamere</h1>
        <p1>Select Mode:</p1>
        <br>
        <form action="{{ url_for('static_gen') }}">
            <input type="submit" value="Static Generator">
        </form>
        <!-- funny fish picture-->
        <!-- image src="https://media.tenor.com/R5IECfIf34YAAAAd/fish-spinning.gif"></image -->
    </body>
</html>